.music {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.sideNote {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 56px;
}