div {
    padding: 10px 20px;
}

input[type=range][orient=vertical] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 15px;
    height: 175px;
    padding: 0 5px;
    cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #FFB233;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 28px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FFB233;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #FFB233;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #FFB233;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #FFB233;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #FFB233;
}
input[type=range]:focus::-ms-fill-upper {
  background: #FFB233;
}

/*red*/

.red:-webkit-slider-runnable-track {
  background: #ff0000;
}
.red:focus::-webkit-slider-runnable-track {
  background: #ff0000;
}
.red::-moz-range-track {
  background: #ff0000;
}
.red::-ms-fill-lower {
  background: #ff0000;
}
.red::-ms-fill-upper {
  background: #ff0000;
}
.red:focus::-ms-fill-lower {
  background: #ff0000;
}
.red:focus::-ms-fill-upper {
  background: #ff0000;
}

/*green*/

.green:-webkit-slider-runnable-track {
  background: green;
}
.green:focus::-webkit-slider-runnable-track {
  background: green;
}
.green::-moz-range-track {
  background: green;
}
.green::-ms-fill-lower {
  background: green;
}
.green::-ms-fill-upper {
  background: green;
}
.green:focus::-ms-fill-lower {
  background: green;
}
.green:focus::-ms-fill-upper {
  background: green;
}